<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.ico" sizes="32x32" type="image/x-icon">
    <link rel="icon" href="./favicon.png" sizes="32x32" type="image/png">

    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorApp.styles.css"]" />
    <link rel="stylesheet" href="./bootstrap.css" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="./bootstrap.bundle.js"></script>
</body>

</html>
<div style="display: none !important">










                                                            dddddddd                                                                                                                                                                                                                                             
MMMMMMMM               MMMMMMMM                             d::::::d                         BBBBBBBBBBBBBBBBB                                 MMMMMMMM               MMMMMMMM                                                                                        WWWWWWWW                           WWWWWWWW
M:::::::M             M:::::::M                             d::::::d                         B::::::::::::::::B                                M:::::::M             M:::::::M                                                                                        W::::::W                           W::::::W
M::::::::M           M::::::::M                             d::::::d                         B::::::BBBBBB:::::B                               M::::::::M           M::::::::M                                                                                        W::::::W                           W::::::W
M:::::::::M         M:::::::::M                             d:::::d                          BB:::::B     B:::::B                              M:::::::::M         M:::::::::M                                                                                        W::::::W                           W::::::W
M::::::::::M       M::::::::::M  aaaaaaaaaaaaa      ddddddddd:::::d     eeeeeeeeeeee           B::::B     B:::::Byyyyyyy           yyyyyyy     M::::::::::M       M::::::::::M  aaaaaaaaaaaaa  rrrrr   rrrrrrrrr       ccccccccccccccccuuuuuu    uuuuuu      ssssssssssW:::::W           WWWWW           W:::::W 
M:::::::::::M     M:::::::::::M  a::::::::::::a   dd::::::::::::::d   ee::::::::::::ee         B::::B     B:::::B y:::::y         y:::::y      M:::::::::::M     M:::::::::::M  a::::::::::::a r::::rrr:::::::::r    cc:::::::::::::::cu::::u    u::::u    ss::::::::::sW:::::W         W:::::W         W:::::W  
M:::::::M::::M   M::::M:::::::M  aaaaaaaaa:::::a d::::::::::::::::d  e::::::eeeee:::::ee       B::::BBBBBB:::::B   y:::::y       y:::::y       M:::::::M::::M   M::::M:::::::M  aaaaaaaaa:::::ar:::::::::::::::::r  c:::::::::::::::::cu::::u    u::::u  ss:::::::::::::sW:::::W       W:::::::W       W:::::W   
M::::::M M::::M M::::M M::::::M           a::::ad:::::::ddddd:::::d e::::::e     e:::::e       B:::::::::::::BB     y:::::y     y:::::y        M::::::M M::::M M::::M M::::::M           a::::arr::::::rrrrr::::::rc:::::::cccccc:::::cu::::u    u::::u  s::::::ssss:::::sW:::::W     W:::::::::W     W:::::W    
M::::::M  M::::M::::M  M::::::M    aaaaaaa:::::ad::::::d    d:::::d e:::::::eeeee::::::e       B::::BBBBBB:::::B     y:::::y   y:::::y         M::::::M  M::::M::::M  M::::::M    aaaaaaa:::::a r:::::r     r:::::rc::::::c     cccccccu::::u    u::::u   s:::::s  ssssss  W:::::W   W:::::W:::::W   W:::::W     
M::::::M   M:::::::M   M::::::M  aa::::::::::::ad:::::d     d:::::d e:::::::::::::::::e        B::::B     B:::::B     y:::::y y:::::y          M::::::M   M:::::::M   M::::::M  aa::::::::::::a r:::::r     rrrrrrrc:::::c             u::::u    u::::u     s::::::s        W:::::W W:::::W W:::::W W:::::W      
M::::::M    M:::::M    M::::::M a::::aaaa::::::ad:::::d     d:::::d e::::::eeeeeeeeeee         B::::B     B:::::B      y:::::y:::::y           M::::::M    M:::::M    M::::::M a::::aaaa::::::a r:::::r            c:::::c             u::::u    u::::u        s::::::s      W:::::W:::::W   W:::::W:::::W       
M::::::M     MMMMM     M::::::Ma::::a    a:::::ad:::::d     d:::::d e:::::::e                  B::::B     B:::::B       y:::::::::y            M::::::M     MMMMM     M::::::Ma::::a    a:::::a r:::::r            c::::::c     cccccccu:::::uuuu:::::u  ssssss   s:::::s     W:::::::::W     W:::::::::W        
M::::::M               M::::::Ma::::a    a:::::ad::::::ddddd::::::dde::::::::e               BB:::::BBBBBB::::::B        y:::::::y             M::::::M               M::::::Ma::::a    a:::::a r:::::r            c:::::::cccccc:::::cu:::::::::::::::uus:::::ssss::::::s     W:::::::W       W:::::::W         
M::::::M               M::::::Ma:::::aaaa::::::a d:::::::::::::::::d e::::::::eeeeeeee       B:::::::::::::::::B          y:::::y              M::::::M               M::::::Ma:::::aaaa::::::a r:::::r             c:::::::::::::::::c u:::::::::::::::us::::::::::::::s       W:::::W         W:::::W          
M::::::M               M::::::M a::::::::::aa:::a d:::::::::ddd::::d  ee:::::::::::::e       B::::::::::::::::B          y:::::y               M::::::M               M::::::M a::::::::::aa:::ar:::::r              cc:::::::::::::::c  uu::::::::uu:::u s:::::::::::ss         W:::W           W:::W           
MMMMMMMM               MMMMMMMM  aaaaaaaaaa  aaaa  ddddddddd   ddddd    eeeeeeeeeeeeee       BBBBBBBBBBBBBBBBB          y:::::y                MMMMMMMM               MMMMMMMM  aaaaaaaaaa  aaaarrrrrrr                cccccccccccccccc    uuuuuuuu  uuuu  sssssssssss            WWW             WWW            
                                                                                                                       y:::::y                                                                                                                                                                                   
                                                                                                                      y:::::y                                                                                                                                                                                    
                                                                                                                     y:::::y                                                                                                                                                                                     
                                                                                                                    y:::::y                                                                                                                                                                                      
                                                                                                                   yyyyyyy                                                                                                                                                                                       










</div>